{% extends "layout.html" %}

{% block title %}
    Book Results
{% endblock %}

{% block content %}
<div class="row">
    
    {% for book in books %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">Author: {{ book.author }}</p>
          <p class="card-text">ISBN: {{ book.isbn }}</p>
          <p class="card-text">Year: {{ book.year }}</p>
          <a href="/book/{{ book.isbn }}" class="btn btn-primary">Book details</a>
          
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
